/temp.py
/ChattingApplicationBackend/ChattingApplicationBackend/migrations/
/ChattingApplicationBackend/authentication/migrations/
/ChattingApplicationBackend/messaging/migrations/
/ChattingApplicationBackend/users/migrations/
/ChattingApplicationBackend/.env
